#nav1{  
background-color: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
color: #FFFFFF;
}

.dropdown-menu{  
background-color: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(10px);
color: #FFFFFF;
top: 47px;
}

.dropdown-item{
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px;
    /* background: rgb(151, 149, 149); */
    background-clip: content-box;
    /* background-color: gray; */
}

.dropdown-item:hover{
    color: #FFFFFF;
    padding: 5px;
    background: rgb(151, 149, 149);
    background-clip: content-box;
    border-radius: 10px;
    /* background-color: gray; */
}

.nav-item:hover{
    border-radius: 5px;
    padding: 0.2px;
    background: rgb(151, 149, 149);
    background-clip: border-box;
    /* background-color: gray; */
}

.navbar-nav > .active > a { 
    background: transparent !important;
    color: white !important;
    border-bottom: 2px solid yellow !important;
    border-radius: 0px !important;
}